* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #00252E;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: center;
}

p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

h2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;

}

footer {
    margin-top: 100px;
}

.try-it-free-btn {
    width: 136px;
    height: 40px;
    border-radius: 25px;
    border-color: #FF52C1;
    color: #FF52C1;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    transition: 0.5s;
    background-color: white;
}

.try-it-free-btn:hover {
    /* background-color: #e4eaf0; */
    background-color: #f9e8f4;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-inline: 100px;
    margin-top: 55px;
}

.introduction {
    margin-top: 220px;
}

.i-picture {
    text-align: center;
}

.i-text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.i-text > p {
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: #00252E;
}

.i-text > p {
    max-width: 600px;
}

.i-text > * {
    margin-top: 25px;
}

.i-text > button {
    width: 400px;
    height: 80px;
    border-radius: 50px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    background: #FF52C1;
    border: none;
    box-shadow: 0px 6px 13px 0px #00252E39;
    margin-top: 40px;
    margin-bottom: 80px;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

.i-text > button:hover {
    background-color: #be2e89;
    cursor: pointer;
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin-inline: 100px;
    margin-top: 150px;
}

.statistics  h2{
    font-family: 'Open Sans';
    font-size: 96px;
    font-weight: 700;
    line-height: 144px;
    letter-spacing: 0px;
    text-align: left;
}

.statistics p {
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: center;
    color: #808E9A;
}

.grow-together {
   display: flex;
   flex-direction: column;
   margin-top: 200px;
}

.grow-together > *{
    flex-grow: 0;
 }
 

.curved-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
}
.g-content {
    background-color: #F6FBFF;
    display: flex;
    justify-content: space-around;
    padding-inline: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}


.g-text {
    margin-top: 175px;
}

.g-text > p{
    max-width: 520px;
    margin-top: 20px;
}
.g-image > img {
    width: 560px;
    height: 560px;
}





.flowing-conversations {
    margin-top: 250px;
}

.f-image > img {
    width: 531px;
    height: 378px;
}

.f-text {
    margin-top: 120px;
}

.f-text > p {
    max-width: 520px;
    margin-top: 25px;
}

.f-content {
    display: flex;
    justify-content: space-around;
}

.f-content > * {
     margin-inline: 50px;
}

.your-users {
    margin-top: 150px;
}

.g-button > button {
    width: 400px;
    height: 80px;
    border-radius: 50px;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    background: #FF52C1;
    border: none;
    box-shadow: 0px 6px 13px 0px #00252E39;
    margin-top: 40px;
    margin-bottom: 80px;
    transition: 0.5s;
}

.g-button > button:hover {
    background-color: #be2e89;
}


.get-started-for-free {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
}

.f-curved-image {
    background-color: #00252E;
}

.curved-image img {
    width: 100%;
}
.curved-image-two img {
    width: 100%;
}

footer p , footer h3{
    color: white;
}

.footer-content {
    background-color: #00252E;
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 100px;
}

.footer-left > p {
    color: white;
}

.footer-right {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.lorem-ipsum {
    font-size: 14px;
    max-width: 340px;
}

.newsletter {
    font-size: 14px;
    max-width: 344px;
}

.send-email > input {
    width: 320px;
    height: 48px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.send-email > button {
    width: 160px;
    height: 48px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    background-color: #FF52C1;
    border-radius: 5px;
    margin-left: 40px;
    transition: 0.5s;
}

.send-email > button:hover {
    background-color: #be2e89;
    border: none;
}

.phone {
    display: flex;
    gap: 20px;
}

.email {
    display: flex;
    gap: 20px;
}

.footer-left > * {
    margin-top: 20px;
}

.logos {
    margin-top: 80px;
}

.footer-right > *{
    margin-top: 15px;
}
